.login-container {
  max-width: 343px;
  text-align: center;
  margin: 0 auto;

  & .logo {
    font-weight: 900;
    font-size: var(--font-logo);
  }

  & h2 {
    font-size: var(--font-h2);
    margin-top: 32px;
  }

  & &__title {
    margin-top: 50px;
  }

  & &__buttons {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  & .button-for-signup {
    font-weight: 700;
    margin-top: 24px;
    color: var(--color-text-secondary);
    background: transparent;
    border: 1px solid var(--color-border);
    padding: 18px;
  }

  & .hr {
    margin-top: 32px;
    border: 1px solid #bbbbbb;

    &--with-text::after {
      content: "or";
      color: #bbbbbb;
      font-weight: 400;
      display: inline-block;
      position: relative;
      top: -10px;
      padding: 0 24px;
      background: var(--color-white);
    }
  }
}

@media (min-width: 600px) {
  .login-container {
    max-width: 442px;
  }
}
